body{
    background-image: url(../assets/img/para\ poster\ .jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.barra{
    text-align: right;
}
ul{
    list-style-type: none;
}
.boton1{
  color: white;
display: inline-block;
list-style-position: outside;
}
.boton2{
    color: white;
  display: inline-block;
  list-style-position: outside;
  }
  .boton3{
    color: white;
  display: inline-block;
  list-style-position: outside;
  }
  .boton4{
    color: white;
  display: inline-block;
  list-style-position: outside;
  }
  .boton5{
    color: white;
  display: inline-block;
  list-style-position: outside;
  }
.PIZZASYPASTAS{
color: white;
font-style: normal;
font-size: 3rem;
font-family: Arial, Helvetica, sans-serif;
margin: 30px;
}
    
.video{
    display:scroll;position:fixed;top:280px;right:100px;
}
.redes{
    display:scroll;position:fixed;bottom:20px;right:600px;
}